*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 
/* .parents{
    width:500px;
    height:500px;
    background: red;
    margin:auto;
}
.child{
    width: 100px;
    height: 100px;
    transition: 0.8s;
}
.child-1:hover{

    margin: left;
}
.child-1{

    background: blue;
}
.child-2{
    background: purple;
}
.child-3{
    background: orange;
}
.child-4{
    background:green;
} */


/* ------------------------------------------------------------Menu CSS--------------------------------------------------------------- */

nav{
    box-shadow: 0 0  10px -5px black;
}
ul{
    list-style: none;
  
}
ul li{
    display:inline-block;
    
}
ul li a{
    color:black;
    text-decoration:none;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 20px;
    display: inline-block;
    transition: 0.7s;
}

ul li a:hover{
    color: white;
    background: red;
}
ul li ul{

    position: absolute;
}
ul li ul li{
    display: block;
    
}